<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <form [formGroup]="formCadastro" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="nome" class="form-label">Nome completo</label>
          <input
            type="text"
            class="form-control custom-input"
            formControlName="name"
            required
          />
          <div class="invalid-feedback">Campo obrigatório.</div>
        </div>

        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input
            mask="email"
            id="email"
            name="email"
            type="text"
            class="form-control custom-input"
            formControlName="email"
            required
          />
          <div class="invalid-feedback">Campo obrigatório.</div>
        </div>

        <div class="form-group">
          <label for="password" class="form-label">password</label>
          <input
            id="password"
            name="password"
            type="password"
            class="form-control custom-input"
            formControlName="password"
            required
          />
          <div class="invalid-feedback">Campo obrigatório.</div>
        </div>

        <button
          [ngClass]=""
          type="submit"
          class="btn btn-primary btn-block mt-4 custom-button"
          (click)="atualizarContato()"
        >
          Enviar
        </button>
      </form>
    </div>

    <div class="container">
      <!-- Restante do código HTML -->

      <!-- Adicione este bloco condicional para exibir a mensagem de sucesso -->
      <div *ngIf="dadosCadastrados" class="alert alert-success mt-3">
        Dados cadastrados com sucesso!
      </div>

      <!-- Adicione este bloco condicional para exibir a mensagem de erro -->
      <div *ngIf="mensagemErro" class="alert alert-danger mt-3">
        {{ mensagemErro }}
      </div>
    </div>
  </div>
</div>
